In [50]:
import pandas as pd
import json
import re
import numpy as np

In [114]:
# Read the data into a Pandas DataFrame
bi = pd.read_csv("backer_info.csv")
# Get the sheet names.
bi

                                            backer_info
0     {"backer_id": "av166", "cf_id": 968, "name": "...
1     {"backer_id": "ha127", "cf_id": 563, "name": "...
2     {"backer_id": "lg794", "cf_id": 65, "name": "L...
3     {"backer_id": "tb566", "cf_id": 563, "name": "...
4     {"backer_id": "lh506", "cf_id": 563, "name": "...
...                                                 ...
8170  {"backer_id": "st581", "cf_id": 65, "name": "S...
8171  {"backer_id": "gf637", "cf_id": 563, "name": "...
8172  {"backer_id": "rc983", "cf_id": 1114, "name": ...
8173  {"backer_id": "cz381", "cf_id": 65, "name": "C...
8174  {"backer_id": "fg535", "cf_id": 65, "name": "F...

[8175 rows x 1 columns]

In [96]:
bi['backer_id'] = bi['backer_info'].str.extract(r'([^banker_idil\s+][\d])')
bi.head(10)

,backer_info,backer_id,name,email,cf_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""...",v1,Angelo Vincent,avincent@live.com},v1
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""...",12,Hubert Arnold,harnold@yandex.com},12
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""L...",g7,Loris Goulet,lgoulet@yandex.com},g7
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""...",56,Teodora Brunelli,tbrunelli@outlook.com},56
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""...",h5,Lexie Hunt,lhunt@live.com},h5
5,"{""backer_id"": ""lh382"", ""cf_id"": 563, ""name"": ""...",h3,Lambert Huber,lhuber@live.com},h3
6,"{""backer_id"": ""em444"", ""cf_id"": 563, ""name"": ""...",m4,Emmy Morin,emorin@live.com},m4
7,"{""backer_id"": ""at582"", ""cf_id"": 1572, ""name"": ...",t5,Armonda Trani,atrani@live.com},t5
8,"{""backer_id"": ""id772"", ""cf_id"": 1911, ""name"": ...",77,Ilana Duke,iduke@outlook.com},77
9,"{""backer_id"": ""lw275"", ""cf_id"": 65, ""name"": ""L...",w2,Leigha Wright,lwright@live.com},w2

In [97]:
bi['cf_id'] = bi['backer_info'].str.extract(r'([^cf_id\s+][\d])')
bi.head()

,backer_info,backer_id,name,email,cf_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""...",v1,Angelo Vincent,avincent@live.com},v1
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""...",12,Hubert Arnold,harnold@yandex.com},a1
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""L...",g7,Loris Goulet,lgoulet@yandex.com},g7
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""...",56,Teodora Brunelli,tbrunelli@outlook.com},b5
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""...",h5,Lexie Hunt,lhunt@live.com},h5

In [61]:
bi['name'] = bi['backer_info'].str.extract(r'([^nameil\s+][A-Za-z]+\s+[A-Za-z]+)').apply(lambda s:s.str.replace('"', ""))
bi.head()

,backer_info,backer_id,name,email,cf_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""...",v1,Angelo Vincent,avincent@live.com},v1
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""...",a1,Hubert Arnold,harnold@yandex.com},12
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""L...",g7,Loris Goulet,lgoulet@yandex.com},g7
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""...",b5,Teodora Brunelli,tbrunelli@outlook.com},56
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""...",h5,Lexie Hunt,lhunt@live.com},h5

In [69]:
bi['email'] = bi['backer_info'].str.extract(r'(\S+@\S+)').apply(lambda s:s.str.replace('"', ""))
bi.head()

,backer_info,backer_id,name,email,cf_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""...",v1,Angelo Vincent,avincent@live.com},v1
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""...",a1,Hubert Arnold,harnold@yandex.com},12
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""L...",g7,Loris Goulet,lgoulet@yandex.com},g7
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""...",b5,Teodora Brunelli,tbrunelli@outlook.com},56
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""...",h5,Lexie Hunt,lhunt@live.com},h5

In [65]:
bi_df = bi[['backer_id', 'name', 'email', 'cf_id']]
bi_df.head()

  backer_id              name                   email cf_id
0        v1    Angelo Vincent      avincent@live.com}    v1
1        a1     Hubert Arnold     harnold@yandex.com}    12
2        g7      Loris Goulet     lgoulet@yandex.com}    g7
3        b5  Teodora Brunelli  tbrunelli@outlook.com}    56
4        h5        Lexie Hunt         lhunt@live.com}    h5